* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: system-ui;
    height: 100%;
    background-color: #151515;
}

.container {
    width: 275px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.header-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-heading {
    color: white;
}

.main-container {
    background-color: white;
}

input {
    font-family: system-ui;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    margin-bottom: 10px;
}

.input-box input {
    height: 30px;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.input-box input:focus-visible {
    outline: none;
}

.space {
    display: inline-block;
    margin-right: 7px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #151515;
    color: white;
    font-family: system-ui;
    font-weight: 700;
    letter-spacing: 1.1px;
    border: none;
    transition: 0.3s;
}

.btn:active {
    transform: scale(0.95);
}

.btn-box {
    margin-bottom: 10px;
}

.btn {
    width: 80px;
}

.input-box input {
    margin-bottom: 10px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    transition: 0.1s;
}

.text-translateY-top {
    transform: translateY(-6px);
}

.text-translateY-down {
    transform: translateY(6px);
}

.text-translateY-start {
    transform: translateY(0px);
}

.animate-start {
    transform: scale(0.9);
    border: 3px solid #b8a3a3;
    border-radius: 5px;
}

.animate-end {
    transform: scale(1);
}

.vk {
    width: 50px;
}

.img-messager,
.link-messager {
    width: inherit;
    height: inherit;
}

.box-messager {
    position: relative;
    width: 42px;
    height: 42px;
}

.link-messager {
    position:absolute;
    left: 0;
    top: 0;
}

.box-my-contacts {
    display: flex;
}




@media(min-width: 300px) {
    .container {
        width: 300px;
    }

    .btn {
        width: 85px;
    }
}

@media(min-width: 375px) {
    .container {
        width: 350px;
    }

    .btn {
        width: 100px;
    }
}

@media(min-width: 768px) {
    .container {
        width: 600px;
    }

    .btn-box {
        margin-bottom: 20px;
    }

    .btn {
        width: 180px;
    }

    .animate-start-translate {
        transform: translateY(10px);
        /* border: 3px solid #b8a3a3; */
        border-radius: 5px;
    }
    
    .animate-end {
        transform: scale(1);
    }
}

@media(min-width: 1024px) {
    .container {
        width: 700px;
        padding: 20px;
    }

    .header-container {
        padding: 0;
    }

    .btn {
        width: 200px;
    }
}

@media(min-width: 1440px) {
    .container {
        width: 1100px;
        padding: 40px;
    }

    .header-container {
        padding: 0;
    }

    .btn {
        width: 320px;
    }
}